/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/

//Add random words instead of "killed"
//Add ability to inherit loser's weapon (maybe instead upgrade your own)
	//possibly have this enhance victory chances
*/
.display-4 {
	text-align: center;
}

.lead1 {
	text-align: center;
}